<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773047114605-an6tk3irhcu7oksl4cbc8fsnb6aob8mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773047114605-an6tk3irhcu7oksl4cbc8fsnb6aob8mb</string>
	<key>API_KEY</key>
	<string>AIzaSyCBpQNv6zGNclNJud3eUpHD1GxTfYH9Vjg</string>
	<key>GCM_SENDER_ID</key>
	<string>773047114605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f6f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f6f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773047114605:ios:5ac3cd4271734a44509864</string>
</dict>
</plist>